*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url(../Images/images.jpeg);
    background-position: center;
}

nav{
    display: flex;
    justify-content: right;
    padding: 20px 0;
    background-color: rgb(38, 38, 66);
}

nav ul li{
    display: inline;
    padding: 10px;
}

ul li a{
    color: white;
    text-decoration: none;
}

ul a:hover{
    color:white;
}

nav .registeringbtn{
   
    background-color: white;
    padding: 10px 50px;
    margin: -10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.Contact{
    justify-content: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 15.2%;
    margin-bottom: 15.2%;
    background-color: rgb(38, 38, 66);
    color: white;
    height: 200px;
    width: 800px;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
   }